
@{
    ViewBag.Title = "Ratings";
    ViewBag.Lead = "Graphing life over time";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
}

<hr/>

<p>
    Ratings will allow users to track various ratings over time in their lives to get a visual indication of progress over time and to look for correlations between different types of items (e.g. Weather and Mood, Sleep and Energy, etc.)
</p>

<p class="text-danger">
    Ratings are not yet available as the ratings system is in the very early stages of development.
</p>