@{
    ViewBag.Title = "My Apps";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Apps</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<h2>Windows Phone Apps</h2>

<p>
    These are older Windows Phone Apps that work on Windows Phone 7, 8, and 8.1.
</p>

<p class="text-warning">
    These apps are still available but are no longer being actively developed or maintained.
</p>

<div class="row">
    <div class="col-md-6">
        <h3>Featured Apps</h3>
        <div class="list-group">
            @Html.ActionLink("Seeking God", "SeekingGod", "Apps", null, new { @class="list-group-item"})
            <a class="list-group-item" href="http://www.matteland.com/SeekingGod.html">Seeking God</a>
            <a class="list-group-item" href="http://www.matteland.com/SeekingJesus.html">Seeking Jesus</a>
            <a class="list-group-item" href="http://www.matteland.com/LifeLights.html">Life Lights</a>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Other Apps</h3>
        <div class="list-group">
            <a class="list-group-item" href="http://www.windowsphone.com/en-us/store/app/wheel-of-names/a7255969-157d-e011-986b-78e7d1fa76f8">Wheel of Names</a>
            <a class="list-group-item" href="http://www.windowsphone.com/en-us/store/app/task-estimator/188fe1c3-aa31-e011-854c-00237de2db9e">Task Estimator</a>
            <a class="list-group-item" href="http://www.windowsphone.com/en-us/store/app/i-m-running-late/60bff399-8159-4bb3-9b6a-647e4077e4f7">I'm Running Late</a>
            <a class="list-group-item" href="http://www.windowsphone.com/en-us/store/app/daily-questions/1446afee-c12c-e011-854c-00237de2db9e">Daily Questions</a>
        </div>
    </div>
</div>
