@{
    ViewBag.Title = "Life Lights";
    ViewBag.Lead = "Life Lights helps you track and prioritize the ongoing chores and other tasks in your life to help you visually determine what should be focused on next.";
    ViewBag.DownloadUrl = "http://www.windowsphone.com/en-us/store/app/life-lights/ea971839-ae30-e011-854c-00237de2db9e";
    Layout = "_AppLayout.cshtml";
}

@section AppScreens
{
<li><img src="~/images/screenshots/LifeLights/SS1.png" alt="Items by status" /></li>
<li><img src="~/images/screenshots/LifeLights/SS4.png" alt="Add item" /></li>
<li><img src="~/images/screenshots/LifeLights/SS5.png" alt="Add item select status" /></li>
<li><img src="~/images/screenshots/LifeLights/SS7.png" alt="Items by status chart" /></li>
<li><img src="~/images/screenshots/LifeLights/SS2.png" alt="Items by category" /></li>
<li><img src="~/images/screenshots/LifeLights/SS8.png" alt="Pinned items" /></li>
}

@section AppFeatures {
<li>View a list of tasks by priority, or grouped by category or status</li>
<li>Task status chart</li>
<li>Pin tasks as live tiles</li>
<li>Categorize tasks</li>
<li>Define custom categories</li>
<li>Store notes on individual tasks</li>
<li>E-Mail your current task details</li>
}

@section AppQuotes
{
    <blockquote>
        <p>Addictively helps you prioritize your life.</p>
    </blockquote>
    <blockquote>
        <p>Simple, yet very effective!</p>
    </blockquote>
}
