@{
    ViewBag.Title = "Seeking Jesus";
    ViewBag.Tagline = "Seeking Jesus is a free app for Windows Phone geared towards helping users explore who Jesus is according to the Bible, his teachings, the things he claimed, what others wrote about him before he was born, and what all of this ultimately means for you.";
    ViewBag.DownloadUrl = "http://windowsphone.com/s?appid=f57fbb4d-60e5-45e6-81da-37513010f8b8";
    Layout = "_AppLayout.cshtml";
}

@section AppScreens
{
    <li><img src="~/images/screenshots/SeekingJesusSS1.png" alt="Main Panorama" /></li>
    <li><img src="~/images/screenshots/SeekingJesusSS2.png" alt="Who is Jesus?"   /></li>
    <li><img src="~/images/screenshots/SeekingJesusSS3.png" alt="Common Questions"   /></li>
    <li><img src="~/images/screenshots/SeekingJesusSS4.png" alt="Accept Christ" /></li>
}

@section AppFeatures {
    <li>A guide to who Jesus was, what he said and did and what that means.</li>
    <li>Answers to common questions from new believers</li>
    <li>Steps to accept Christ</li>
    <li>Next steps for new believers</li>
    <li>Quick contact forms to get in touch with an Online Missionary</li>
    <li>Verses geared towards evangelism</li>
}

@section AppQuotes
{
    <blockquote>
        <p>Great app. Very well laid out and easy to follow. It gets straight to the point, salvation through Jesus our Lord.</p>
    </blockquote>
    <blockquote>
        <p>Salvation is presented clearly and precisely.</p>
    </blockquote>
    <blockquote>
        <p>A "must get".</p>
    </blockquote>
}
