@{
    ViewBag.Title = "Seeking God";
    ViewBag.Tagline = "An interactive gospel presentation for Windows Phone";
    ViewBag.DownloadUrl = "http://www.windowsphone.com/en-US/apps/80af49a1-0f8e-409d-87a3-5f7cf39dc5ae";
    Layout = "_AppLayout.cshtml";
}

@section AppScreens
{
    <li><img src="~/images/screenshots/SeekingGodSS2.png" alt="Main Panorama" /></li>
    <li><img src="~/images/screenshots/SeekingGodSS1.png" alt="Gospel Presentation" /></li>
    <li><img src="~/images/screenshots/SeekingGodSS3.png" alt="Accept Christ" /></li>
    <li><img src="~/images/screenshots/SeekingGodSS4.png" alt="Helpful Verses" /></li>
}

@section AppFeatures {
    <li>Animated Gospel Presentation</li>
    <li>Next steps for new believers</li>
    <li>Quick contact forms to get in touch with an Online Missionary</li>
    <li>Share the gospel with others</li>
    <li>Verses geared towards evangelism</li>
    <li>Metro-style user interface</li>    
}

@section AppQuotes
{
<blockquote>
    <p>I wish we had more apps like this in the marketplace.</p>
</blockquote>
<blockquote>
    <p>Great app! I love how it gives me hope. Also love the animation my kids think its sooo cool!</p>
</blockquote>
<blockquote>
    <p>I love the simplicity and beauty of it. The helpful bible verses are uplifting!</p>
</blockquote>
<blockquote>
    <p>Finally something actually useful!</p>
</blockquote>    
}
