/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red {
    color: #ff5555;
}

.blue {
    color: #5555FF;
}

.tile-panel {
    min-height: 140px;
}

.tile-panel-tall {
    min-height: 164px;
}

.tile-panel-tall-no-footer {
    min-height: 206px;
}

.table.table-no-lines th, .table.table-no-lines td { 
     border-top: none; 
 }

th {
    font-weight: bold;
    text-transform: uppercase;
}

.margin-left {
    margin-left: 8px;
}

.margin-right {
    margin-right: 8px;
}

.margin-top {
    margin-top: 8px;
}

.margin-bottom {
    margin-bottom: 8px;
}

.bar {
    fill: #0092ff;
}

.bar:hover {
  fill: #5555FF;
}