/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.red {
    color: #ff5555;
}

.blue {
    color: #5555FF;
}

.tile-panel {
    min-height: 140px;
}

.tile-panel-tall {
    min-height: 164px;
}

.tile-panel-tall-no-footer {
    min-height: 206px;
}

.table.table-no-lines th, .table.table-no-lines td { 
     border-top: none; 
 }
body {
    visibility: hidden;
}
#wrap386 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: black;
}
#bar386 {
  float: right;
  width: 100%;
  height: 20px;
  margin-top: -20px;
  font-weight: bold;
  color: #ffffff;
  background: black;
}
#cursor386 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  font-weight: bold;
  color: #ffffff;
}
