@{
    ViewBag.Title = "Projects";
    ViewBag.Lead = "A list of active and past software development projects.";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="panel panel-info text-center">
            <div class="panel-heading">
                ANI Project
            </div>
            <div class="panel-body tile-panel-tall">
                <br />
                <p>
                    <i class="fa fa-connectdevelop fa-3x"></i>
                </p>
                <p>
                    Analytics for Daily Life
                </p>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("View", "ANI", "Projects", null, new { @class = "btn btn-block btn-info" })
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="panel panel-info text-center tile-panel">
            <div class="panel-heading">
                Pi-MFD
            </div>
            <div class="panel-body tile-panel-tall">
                <br />
                <p>
                    <i class="fa fa-newspaper-o fa-3x"></i>
                </p>
                <p>
                    Raspberry Pi Dashboard
                </p>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("View", "PiMFD", "Projects", null, new { @class = "btn btn-block btn-info" })
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                Windows Phone
            </div>
            <div class="panel-body tile-panel-tall">
                <br />
                <p>
                    <i class="fa fa-windows fa-3x"></i>
                </p>
                <p>
                    Windows Phone Apps
                </p>
                <p>
                    
                </p>
            </div>
                        <div class="panel-footer">
                    @Html.ActionLink("View", "Index", "Apps", null, new { @class = "btn btn-block btn-default" })
                </div>
</div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                Temp. Protocols
            </div>
            <div class="panel-body tile-panel-tall">
                <br />
                <p>
                    <i class="fa fa-play-circle-o fa-3x"></i>
                </p>
                <p>
                    Long-Term Project
                </p>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("View", "TemporalProtocols", "Projects", null, new { @class = "btn btn-block btn-default" })
            </div>
        </div>
    </div>

</div>