@{
    ViewBag.Title = "Temporal Protocols";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs {
    <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
}

<br/>

<div class="alert alert-danger">
    Information on this project is not currently public.
</div>
