@{
    ViewBag.Title = "Temporal Protocols";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
    <li class="active">Temporal Protocols</li>
</ol>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="alert alert-danger">
    Information on this project is not currently public.
</div>
