@{
    ViewBag.Title = "Temporal Protocols";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    ViewBag.Lead = "Project Information Restricted";
}

@section breadcrumbs {
    <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
}

@section header_side_content
{
    @Html.ActionLink("Projects Home", "Index", "Projects", null, new { @class = "btn btn-primary" })
}

<br/>

<div class="alert alert-danger">
    Information on this project is not currently public.
</div>
