@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>

<p>
    I'm a software developer / Church preschool teacher / hobbyist / nerd with a love for most things creative, robotic, futuristic, and/or nerdy.
</p>
<p>
    This site exists largely to host experimental projects, data, and web services, but if you're a human, cyborg, or an Artificial General Intelligence, I hope you're enjoying your visit and getting something useful out of this.
</p>

<h3>Contact Me</h3>

<div class="list-group">
    <a class="list-group-item" href="https://github.com/IntegerMan">
        View my page on GitHub
    </a>

    <a class="list-group-item" href="mailto:Matt.Eland+Web@gmail.com">E-Mail Me</a>

    <a class="list-group-item" href="https://twitter.com/integerman">
        Follow me on Twitter
    </a>
</div>
