@{
    ViewBag.Title = "DEVNET";
}

<div class="jumbotron">

    <h1>@ViewBag.Title</h1>

    <p class="lead">
        This website is an ongoing development site that hosts web services for legacy applications, holds some
        experimental data dashboard applications and as a limited portal for ongoing and past software development
        projects I've undertaken.
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Projects</div>
            <div class="panel-body media">
                <div class="media-left">
                    <i class="fa fa-3x fa-list-alt"></i>
                </div>
                <div class="media-body">
                    <p>View a list of active and historical software projects I've done on my own.</p>
                    <br />
                    @Html.ActionLink("View Projects", "Index", "Projects", null, new { @class = "btn btn-block btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">ANI Project</div>
            <div class="panel-body media">
                <div class="media-left">
                    <i class="fa fa-3x fa-connectdevelop"></i>
                </div>
                <div class="media-body">
                    <p>A series of experiments to use machine learning to improve daily life.</p>
                    <br />
                    @Html.ActionLink("View Project", "ANI", "Projects", null, new { @class = "btn btn-block btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Windows Phone Apps</div>
            <div class="panel-body media">
                <div class="media-left">
                    <i class="fa fa-3x fa-windows"></i>
                </div>
                <div class="media-body">
                    <p>Links and information on ministry and productivity apps for Windows Phone.</p>
                    <br />
                    @Html.ActionLink("View Apps", "Index", "Apps", null, new { @class = "btn btn-block btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>
