@{
    ViewBag.Title = "www.MattEland.com";
}

<div class="jumbotron">

    <h1>@ViewBag.Title</h1>

    <p class="lead">This website houses app information and web / database / web services related to experimental projects.</p>

    <div class="alert alert-info" role="alert">
        This website is currently under active development and expansion and is not yet intended for active use.
    </div>

</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Projects</div>
            <div class="panel-body">
                <p>View a list of active and historical software developmnt projects I've done on my own.</p>
                @Html.ActionLink("View Projects", "Index", "Projects", null,  new { @class = "btn btn-block btn-primary" })
                <br />
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">ANI Project</div>
            <div class="panel-body">
                <p>A series of experiments around using machine learning to improve daily life.</p>
                @Html.ActionLink("View Apps", "ANI", "Projects", null, new { @class = "btn btn-block btn-info" })
                <br />
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Windows Phone Apps</div>
            <div class="panel-body">
                <p>Links and information on ministry and productivity apps for Windows Phone 7, 8, and 8.1.</p>
                @Html.ActionLink("View Apps", "Index", "Apps", null, new { @class = "btn btn-block btn-default" })
                <br />
            </div>
        </div>
        <br />
    </div>
</div>
