@{
    ViewBag.Title = "www.MattEland.com";
}

<div class="jumbotron">

    <h1>@ViewBag.Title</h1>

    <p class="lead">
        This website is an ongoing development site that hosts web services for legacy applications, holds some
        experimental data dashboard applications and as a limited portal for ongoing and past software development
        projects I've undertaken.
    </p>

</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Projects</div>
            <div class="panel-body">
                <p>View a list of active and historical software developmnt projects I've done on my own.</p>
                @Html.ActionLink("View Projects", "Index", "Projects", null, new { @class = "btn btn-block btn-default" })
                <br />
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">ANI Project</div>
            <div class="panel-body">
                <p>A series of experiments around using machine learning to improve daily life.</p>
                @Html.ActionLink("View Apps", "ANI", "Projects", null, new { @class = "btn btn-block btn-default" })
                <br />
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Windows Phone Apps</div>
            <div class="panel-body">
                <p>Links and information on ministry and productivity apps for Windows Phone 7, 8, and 8.1.</p>
                @Html.ActionLink("View Apps", "Index", "Apps", null, new { @class = "btn btn-block btn-default" })
                <br />
            </div>
        </div>
        <br />
    </div>
</div>
