@{
    ViewBag.Title = "Traffic";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section breadcrumbs
{
    <li><a href="@Url.Action("ANI", "Projects")">ANI</a></li>
}

<div class="row">
    <div class="col-md-4">

        <h2>Select Subpage</h2>

        <div class="list-group">
            @Html.ActionLink("Accidents", "Accidents", "Traffic", new { @class = "list-group-item" })
            @Html.ActionLink("Construction", "Construction", "Traffic", new { @class = "list-group-item" })
        </div>
    </div>
</div>
