@{
    ViewBag.Title = "Page Not Found";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="alert alert-danger">
    The page you were looking for could not be found.<br/>
    <br/>
    It kinda stinks to be you right now.
</div>

