@{
    ViewBag.Title = "Traffic Incidents";
}

<h2>@ViewBag.Title</h2>

<p>
    Traffic Incidents in Columbus Ohio
</p>

<div class="alert alert-danger" role="alert">
    Traffic Data is not yet available via web
</div>
